<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid bg-dark px-4 py-2 d-flex justify-content-between align-items-center">
        <p class="text-white m-0">
            <span th:text="${user.email}">email@mail.ru</span> with roles: <span th:text="${usersRole}">USER</span>
        </p>
        
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="text-secondary">Logout</button>
        </form>
    </div>

    <div class="container-fluid m-0 p-0 d-inline-flex justify-content-between align-items-center custom">
        <div class="col-2 bg-white m-0 p-0 customDiv">
            <div class="container-fluid m-0 p-0 pt-2">
                <p class="bg-primary pl-3 py-2 text-white">User</p>
            </div>
        </div>
        <div class="col-10 px-4 py-3 customDiv">
            <h2>User information-page</h2>

            <div class="border">
                <p class="alert-secondary py-2 pl-3 border-bottom">About user</p>
                <div class="container-fluid px-4 pb-4">
                    <table class="col-12">
                        <tr class="border-top">
                            <td class="py-2 pl-2">ID</td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Age</td>
                            <td>Email</td>
                            <td>Role</td>
                        </tr>
                        <tr th:fragment="user-info(user)" class="border-top alert-secondary">
                            <td th:text="${user.id}" class="py-2 pl-2">3</td>
                            <td th:text="${user.name}">user</td>
                            <td th:text="${user.lastname}">user</td>
                            <td th:text="${user.age}">30</td>
                            <td th:text="${user.email}">user@mail.ru</td>
                            <td th:text="${usersRole}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

<style>
    body {
        background: rgb(244, 244, 244);
        overflow: hidden;
    }

    button {
        background: none;
        border: none;
    }

    .custom {
        height: 95vh;
    }

    .customDiv {
        height: 100%;
    }
</style>

</html>